<a href="https://colab.research.google.com/github/Aarushi900/Conversational-Systems/blob/main/Assignment_1_UCT511.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to find average of three numbers entered by the user.

In [ ]:
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
c=int(input("Enter third number: "))


s=a+b+c
avg= s/3;

print("Average of the entered numbers: ", avg)

Enter first number: 13
Enter second number: 45
Enter third number: 2348
Average of the entered numbers:  802.0

2. Write a python program to compute a person's income tax. Assume following
tax laws:
• All taxpayers are charged a flat tax rate of 20%.

• All taxpayers are allowed a 10,000 standard deduction.

• For each dependent, a taxpayer is allowed an additional 3,000 deduction.

• Gross income must be entered to the nearest penny.

Gross Income and the number of dependents must be asked from the user.

Hint:
Taxable income = Gross Income - Standard deduction - (Dependent deduction
* No. of dependents)

Tax = Taxable Income * Tax Rate

In [ ]:
gross_income=int(input("Enter the gross income: $"));
dependents=int(input("Enter the number of dependents: "));
standard_deduction=10000;
dependent_deduction=3000;
tax_rate=0.20;

taxable_income=gross_income - standard_deduction - (dependent_deduction * dependents);
tax =taxable_income*tax_rate;

print("Taxable income is: $",taxable_income);
print("Tax generated is: $",tax);

Enter the gross income: $230000000
Enter the number of dependents: 4
Taxable income is: $ 229978000
Tax generated is: $ 45995600.0

Write a python program to store different data type values into a list. (For an
example: Student [SID, Name, Gender, Course Name, CGPA]).

Note: Use Gender values: ‘F’, ‘M’, ‘U’ (For Unknown).

CGPA should have floating type values (example: 7.5).

In [ ]:
def inp_cgpa():
  while True:

    try:
      cgpa = float(input("Enter CGPA: "))
      if 0 <= cgpa <= 10.0:
        return cgpa;
      else:
        print("CGPA should be between 0 and 10");
    except:
      print("Invalid input. Please enter a valid CGPA (for example: 7.5)");

students = []
num = int(input("Enter the number of students: "))

for i in range(num):
  sid = input("Enter Student ID: ");
  name = input("Enter Student name: ");
  gender = input("Enter Student gender (F/M/U): ");
  course_name = input("Enter Course Name: ");
  cgpa = inp_cgpa();

  student_data = [sid,name,gender,course_name,cgpa];
  students.append(student_data)


# Printing the records

for student in students:
  print("SID: ",student[0]);
  print("Name: ",student[1]);
  print("Gender: ",student[2]);
  print("Course Name: ",student[3]);
  print("CGPA: ",student[4]);
  print()

4. Write a python program to enter marks of 5 students into a list and display
them in sorted manner.

In [ ]:
def inp_marks():
  while True:
    try:
      m = float(input("Enter marks: "))
      if 0 <= m:
        return m;
      else:
        print("Marks should be greater than 0");
    except:
      print("Invalid input. Please enter valid marks (for example: 75.5)");

students_marks=[]
for i in range(5):
  id=input("Enter the student ID: ")
  marks=inp_marks()
  s=[id,marks]
  student_marks.append(s);


student_marks = sorted(student_marks, key = lambda x: x[1]);

# Printing records in sorted order
print("Sorted Student Marks( in ascending order): ")
for s in student_marks:
  print("Student ID: ",s[0]);
  print("Marks: ",s[1]);
  print();

5. List: color ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

a. Write a Python program to print a specified list after removing 4th element.

Expected output: color [Red', 'Green', 'White', 'Pink', 'Yellow']

b. Remove ‘Black’ and ‘Pink’ from the list and replace them with ‘Purple’.

Do that in one line code.

In [2]:
color=['Red','Green','White','Black','Pink','Yellow']
color.pop(3)
print("color = ",color)

color =  ['Red', 'Green', 'White', 'Pink', 'Yellow']

In [3]:
color=['Red','Green','White','Black','Pink','Yellow']
color=[c if c not in ['Black','Pink'] else 'Purple' for c in color]
# if want to have only one 'Purple'
#color.remove('Purple')
print("color = ",color)

color =  ['Red', 'Green', 'White', 'Purple', 'Purple', 'Yellow']